<div class="container p-3 bg-light rounded">
  <div class="row g-2">

    <div class="col-3">
      <button class="btn btn-danger w-100" (click)="clear()">C</button>
    </div>
    <div class="col-3">
      <button class="btn btn-secondary w-100" (click)="clicca('/')">/</button>
    </div>
    <div class="col-3">
      <button class="btn btn-secondary w-100" (click)="clicca('*')">*</button>
    </div>
    <div class="col-3">
      <button class="btn btn-secondary w-100" (click)="clicca('-')">-</button>
    </div>

    <div class="col-3">
      <button class="btn btn-light w-100" (click)="clicca('7')">7</button>
    </div>
    <div class="col-3">
      <button class="btn btn-light w-100" (click)="clicca('8')">8</button>
    </div>
    <div class="col-3">
      <button class="btn btn-light w-100" (click)="clicca('9')">9</button>
    </div>
    <div class="col-3">
      <button class="btn btn-primary w-100" (click)="clicca('+')">+</button>
    </div>

    <div class="col-3">
      <button class="btn btn-light w-100" (click)="clicca('4')">4</button>
    </div>
    <div class="col-3">
      <button class="btn btn-light w-100" (click)="clicca('5')">5</button>
    </div>
    <div class="col-3">
      <button class="btn btn-light w-100" (click)="clicca('6')">6</button>
    </div>
    <div class="col-3">
      <button class="btn btn-info text-white w-100" (click)="clicca('.')">
        .
      </button>
    </div>

    <div class="col-3">
      <button class="btn btn-light w-100" (click)="clicca('1')">1</button>
    </div>
    <div class="col-3">
      <button class="btn btn-light w-100" (click)="clicca('2')">2</button>
    </div>
    <div class="col-3">
      <button class="btn btn-light w-100" (click)="clicca('3')">3</button>
    </div>
    <div class="col-3">
      <button class="btn btn-success w-100" (click)="equals()">=</button>
    </div>

    <div class="col-3 offset-3">
      <button class="btn btn-light w-100" (click)="clicca('0')">0</button>
    </div>
  </div>
</div>
